{
  "extends": "stylelint-config-standard",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "declaration-empty-line-before": ["always", {
      "except": [
        "first-nested"
      ],
      "ignore": [
        "after-declaration"
      ]
    }]
  }
}
