.button {
  cursor: pointer;
  transition: opacity 0.4s;

  border: 0;
  border-radius: 8px;
  background-color: $color-light-gray;

  font-size: 13px;
  font-weight: bold;

  &:hover {
    opacity: 0.6;
  }
}
