.event {
  position: relative;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: background-color 0.2s;

  color: $color-dark-grey;
  border-radius: 20px;
  background: $color-block;

  &::after {
    position: absolute;
    z-index: 200;
    top: 22px;
    right: 22px;

    display: block;

    width: 14px;
    height: 14px;

    content: '';
    transition: all 0.2s;

    opacity: 0;
    background-image: url("/image/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: $mobile-width) {
      right: 16px;
      bottom: 16px;

      opacity: 1;
    }
  }

  &--critical::after {
    background-image: url("/image/cross-critical.svg");
  }

  &::before {
    position: absolute;
    z-index: 200;
    right: 20px;
    bottom: 16px;

    display: block;

    width: 15px;
    height: 15px;

    content: '';
    transition: all 0.2s;

    opacity: 0;
    background-image: url("/image/shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover {
    background-color: $color-block-hover;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);

    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

.event--l {
  align-self: stretch;

  grid-column: span 4;
  grid-row: span 3;

  @media (max-width: $tablet-width) {
    grid-column: span 1;
  }

  &::before {
    display: none;
  }
}

.event--m {
  grid-column: span 3;
  grid-row: span 1;

  @media (max-width: $tablet-width) {
    min-height: 200px;

    grid-column: span 1;

    &.event--critical {
      min-height: 150px;
    }
  }
}

.event--s {
  grid-column: span 2;
  grid-row: span 1;

  @media (max-width: $tablet-width) {
    grid-column: span 1;
  }
}

.event__header {
  position: relative;
  z-index: 10;

  padding: 20px;

  @media (max-width: $mobile-width) {
    padding: 16px;
  }

  &--critical {
    color: $color-white;
    border-radius: 20px 20px 0 0;
    background-color: $color-red-critical;

    &::before {
      position: absolute;
      bottom: -30px;
      left: 0;

      display: block;

      width: 100%;
      height: 30px;

      content: '';

      background-color: inherit;
    }
  }
}

.event__title {
  display: inline-grid;
  overflow: hidden;
  align-items: center;

  height: 58px;
  margin: 0;
  padding-right: 20px;
  padding-left: 70px;

  font-size: 2.4rem;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    height: 36px;
    padding-left: 50px;

    font-size: 1.4rem;
  }

  &::after {
    position: absolute;

    display: block;

    width: 48px;
    height: 48px;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: $mobile-width) {
      width: 35px;
      height: 35px;
    }
  }
}

.event__title--stats {
  &::after {
    background-image: url("/image/stats.svg");
  }

  .event--critical &::after {
    background-image: url("/image/stats-critical.svg");
  }
}

.event__title--key {
  &::after {
    background-image: url("/image/key.svg");
  }

  .event--critical &::after {
    background-image: url("/image/key-critical.svg");
  }
}

.event__title--robot-cleaner {
  &::after {
    background-image: url("/image/robot-cleaner.svg");
  }

  .event--critical &::after {
    background-image: url("/image/robot-cleaner-critical.svg");
  }
}

.event__title--router {
  &::after {
    background-image: url("/image/router.svg");
  }

  .event--critical &::after {
    background-image: url("/image/router-critical.svg");
  }
}

.event__title--thermal {
  &::after {
    background-image: url("/image/thermal.svg");
  }

  .event--critical &::after {
    background-image: url("/image/thermal-critical.svg");
  }
}

.event__title--ac {
  &::after {
    background-image: url("/image/ac.svg");
  }

  .event--critical &::after {
    background-image: url("/image/ac-critical.svg");
  }
}

.event__title--music {
  &::after {
    background-image: url("/image/music.svg");
  }

  .event--critical &::after {
    background-image: url("/image/music-critical.svg");
  }
}

.event__title--fridge {
  &::after {
    background-image: url("/image/fridge.svg");
  }

  .event--critical &::after {
    background-image: url("/image/fridge-critical.svg");
  }
}

.event__title--battery {
  &::after {
    background-image: url("/image/battery.svg");
  }

  .event--critical &::after {
    background-image: url("/image/battery-critical.svg");
  }
}

.event__title--kettle {
  &::after {
    background-image: url("/image/kettle.svg");
  }

  .event--critical &::after {
    background-image: url("/image/kettle-critical.svg");
  }
}

.event__title--cam {
  &::after {
    background-image: url("/image/cam.svg");
  }

  .event--critical &::after {
    background-image: url("/image/cam-critical.svg");
  }
}

.event__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-top: 14px;

  font-size: 1.8rem;

  @media (max-width: $mobile-width) {
    flex-wrap: nowrap;

    margin-top: 16px;

    font-size: 1.2rem;
  }

  &--s {
    flex-direction: column;

    @media (max-width: $mobile-width) {
      flex-direction: row;
    }

    .event__time {
      margin-top: 20px;

      @media (max-width: $mobile-width) {
        margin-top: 0;
      }
    }
  }
}

.event__source {
  margin-right: 20px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.event__block {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;

  padding: 20px;
  padding-top: 0;

  transition: background-color 0.2s;

  color: $color-dark-grey;
  border-radius: 20px;
  background-color: $color-block;

  @media (max-width: $mobile-width) {
    padding: 16px;
    padding-top: 0;
  }

  .event--critical & {
    padding-top: 20px;
  }

  .event:hover & {
    background-color: $color-block-hover;
  }

  &--l {
    & > *:last-child {
      margin-top: auto;
    }
  }

  &--m {
    & > *:last-child {
      margin-top: auto;
    }
  }
}

.event__description {
  margin: 0;

  font-size: 2rem;

  @media (max-width: $mobile-width) {
    font-size: 1.8rem;
  }

  .event--l & {
    font-size: 24px;

    @media (max-width: $mobile-width) {
      font-size: 1.8rem;
    }
  }
}

.event__image {
  display: block;

  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-top: 30px;

  border-radius: 20px;

  touch-action: none;

  @media (max-width: $mobile-width) {
    padding-top: 44px;
  }
}

.event__status {
  margin: 0;
  font-size: 1.8rem;

  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
  }
}

.event__status-value {
  margin-right: 50px;

  font-weight: bold;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.event__button {
  min-width: 132px;
  min-height: 54px;
  margin-top: 20px;
  margin-right: 18px;
  padding: 16px;

  background-color: $color-button;

  font-size: 20px;
  font-weight: bold;

  &--success {
    background-color: $color-button-success;
  }

  &:last-child {
    margin-right: 0;
  }
}
