.event {
  position: relative;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: background-color 0.2s;

  color: $color-dark-grey;
  border-radius: 20px;
  background: $color-block;

  &::after {
    position: absolute;
    z-index: 200;
    top: 22px;
    right: 22px;

    display: block;

    width: 14px;
    height: 14px;

    content: '';
    transition: all 0.2s;

    opacity: 0;
    background-image: url("/image/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::before {
    position: absolute;
    z-index: 200;
    right: 20px;
    bottom: 16px;

    display: block;

    width: 15px;
    height: 15px;

    content: '';
    transition: all 0.2s;

    opacity: 0;
    background-image: url("/image/shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover {
    background-color: $color-block-hover;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);

    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

.event--l {
  align-self: stretch;
  grid-column: span 4;
  grid-row: span 3;

  @media (max-width: $tablet-width) {
    grid-column: span 1;
  }
}

.event--m {
  grid-column: span 3;
  grid-row: span 1;

  @media (max-width: $tablet-width) {
    grid-column: span 1;
  }
}

.event--s {
  grid-column: span 2;
  grid-row: span 1;

  @media (max-width: $tablet-width) {
    grid-column: span 1;
  }
}

.event__header {
  position: relative;
  z-index: 10;

  padding: 20px;

  &--critical {
    color: $color-white;
    border-radius: 20px 20px 0 0;
    background-color: $color-red-critical;

    &::before {
      position: absolute;
      bottom: -30px;
      left: 0;

      display: block;

      width: 100%;
      height: 30px;

      content: '';

      background-color: inherit;
    }
  }

  &::after {
    position: absolute;
    top: 24px;
    left: 24px;

    display: block;

    width: 48px;
    height: 48px;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.event__header--stats {
  &::after {
    background-image: url("/image/stats.svg");
  }
}

.event__header--key {
  &::after {
    background-image: url("/image/key.svg");
  }
}

.event__header--robot-cleaner {
  &::after {
    background-image: url("/image/robot-cleaner.svg");
  }
}

.event__header--router {
  &::after {
    background-image: url("/image/router.svg");
  }
}

.event__header--thermal {
  &::after {
    background-image: url("/image/thermal.svg");
  }
}

.event__header--ac {
  &::after {
    background-image: url("/image/ac.svg");
  }

  .event--critical &::after {
    background-image: url("/image/ac-critical.svg");
  }
}

.event__header--music {
  &::after {
    background-image: url("/image/music.svg");
  }
}

.event__header--fridge {
  &::after {
    background-image: url("/image/fridge.svg");
  }
}

.event__header--battery {
  &::after {
    background-image: url("/image/battery.svg");
  }
}

.event__header--kettle {
  &::after {
    background-image: url("/image/kettle.svg");
  }
}

.event__title {
  display: flex;
  align-items: center;

  height: 58px;
  margin: 0;
  padding-left: 70px;

  font-size: 24px;
  font-weight: bold;
}

.event__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-top: 10px;

  font-size: 18px;

  &--s {
    flex-direction: column;

    .event__time {
      margin-top: 20px;
    }
  }
}

.event__source {
  margin-right: 20px;
}

.event__block {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;

  padding: 20px;
  padding-top: 0;

  transition: background-color 0.2s;

  color: $color-dark-grey;
  border-radius: 20px;
  background-color: $color-block;

  .event--critical & {
    padding-top: 20px;
  }

  .event:hover & {
    background-color: $color-block-hover;
  }

  &--l {
    & > *:last-child {
      margin-top: auto;
    }
  }

  &--m {
    & > *:last-child {
      margin-top: auto;
    }
  }
}

.event__description {
  margin: 0;

  font-size: 20px;

  .event--l & {
    font-size: 24px;
  }
}

.event__image {
  display: block;

  width: 100%;
  height: 316px;
  margin-top: 30px;

  border-radius: 20px;
}

.event__status {
  margin: 0;

  font-size: 18px;
}

.event__status-value {
  margin-right: 50px;

  font-weight: bold;

  &:last-child {
    margin-right: 0;
  }
}

.event__button {
  min-width: 132px;
  min-height: 54px;
  margin-top: 20px;
  margin-right: 18px;
  padding: 16px;

  background-color: $color-button;

  font-size: 20px;
  font-weight: bold;

  &--success {
    background-color: $color-button-success;
  }

  &:last-child {
    margin-right: 0;
  }
}
