.events {
  display: grid;
  //grid-auto-flow: dense;
  //align-items: start;
  justify-content: center;
  //grid-auto-flow: column;
  //place-content: center space-between;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  grid-template-columns: repeat(6, 155px);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, max-content);
  gap: 20px;
}
