.modal {
  position: fixed;
  z-index: 600;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 1);

  &--show {
    display: flex;
    flex-direction: column;
  }
}

.modal video {
  max-height: 70%;
  margin: 20px auto;
}

.modal__controls {
  display: flex;
  justify-content: center;

  color: $color-white;

  @media (max-width: $tablet-width) {
    align-items: center;
    flex-direction: column;
  }
}

.modal__settings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 10px;
}

.modal__button {
  min-width: 132px;
  max-width: 200px;
  min-height: 54px;
  margin-top: 20px;
  margin-right: 18px;
  padding: 16px;

  background-color: $color-button;

  font-size: 2rem;
  font-weight: bold;
}

.modal__volume-range {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 150px;
  margin: 0 10px;

  @media (max-width: $tablet-width) {
    width: 200px;
    margin: 10px 0;
  }
}

.modal__volume {
  width: 5%;
  height: 10px;

  background-color: $color-white;
}
