.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  margin: 0;
  padding-right: 50px;

  color: #a1a1a1;

  font-size: 14px;

  &--track {
    top: 4px;

    @media (max-width: $mobile-width) {
      top: 12px;
    }
  }

  &--track::after {
    position: absolute;
    right: 0;

    content: '4:31';
  }

  &--volume {
    top: 4px;
  }

  &--volume::after {
    position: absolute;
    right: 0;

    content: '80%';
  }
}

.slider__field {
  position: relative;

  display: flex;

  &--track {
    height: 1px;

    background-color: #979797;
  }

  &--volume {
    height: 4px;

    border-radius: 10px;
    background-color: rgba(216, 216, 216, 0.3);
  }
}

.slider__control {
  position: absolute;
  z-index: 100;

  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-dark-orange;
  }

  &--track {
    top: -10px;
    left: 20%;

    width: 11px;
    height: 20px;

    border-radius: 4.5px;
    background-color: #d8d8d8;

    @media (max-width: $mobile-width) {
      width: 6px;
    }
  }

  &--volume {
    bottom: -6px;
    left: 80%;

    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #605757;
  }
}

.slider__range {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;

  color: $color-white;

  font-size: 18px;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
  }
}

.slider__input {
  cursor: pointer;
}

input[type=range] {
  position: absolute;
  top: 0;

  overflow: visible;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: transparent;
  border: 0 none;
  background: transparent;

  -webkit-appearance: none;
}

/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
input[type=range]::-ms-fill-lower {
  border: 0 none;
  background: transparent;
}

input[type=range]::-ms-fill-upper {
  border: 0 none;
  background: transparent;
}

input[type=range]::-ms-tooltip {
  display: none;
}

input[type=range]::-ms-track {
  overflow: visible;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: transparent;
  border: 0 none;
  background: transparent;

  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  overflow: visible;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: transparent;
  border: 0 none;
  background: transparent;

  -moz-appearance: none;
}

input[type=range]::-ms-thumb {
  width: 40px;
  height: 40px;

  border: 0 none;
  border-radius: 0;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;

  border: 0 none;
  border-radius: 0;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;

  border: 0 none;
  border-radius: 0;
  background: transparent;

  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  border: transparent;
  background: transparent;
}
